<div class="admission-box">
  <div class="inner">
    <div class="admission-content">
      <div class="admission-top-area">
        <div class="admission-title">入学案内 admission</div>
        <p class="admission-button">
          <a href="" class="admission-btn">MORE +</a>
        </p>
      </div>
      <div class="admission-body-area">
        <ul class="admission-list">
          <li class="admission-item">
            <a href="/"></a>2024年7月期 新入生募集中
          </li>
          <li class="admission-item">
            <a href="/"></a>2024年4月期3ヶ月短期生募集
          </li>
          <li class="admission-item">
            <a href="/"></a>2024年4月期 新入生募集中
          </li>
          <li class="admission-item">
            <a href="/"></a>2024年1月期3ヶ月短期生募集
          </li>
        </ul>
      </div>
    </div>
    <div class="popup-content">
      <ul class="popup-slide">
        <li class="slide-item-2"></li>
      </ul>
    </div>
  </div>
</div>
