<div class="admission-box">
  <div class="inner">
    <div class="news-content">
      <div class="news-top-area">
        <div class="news-title">入学案内 News</div>
        <p class="news-button">
          <a href="" class="news-btn">MORE +</a>
        </p>
      </div>
      <div class="news-body-area">
        <ul class="news-list">
          <li class="news-item"><a href="/"></a>2024年7月期 新入生募集中</li>
          <li class="news-item"><a href="/"></a>2024年4月期3ヶ月短期生募集</li>
          <li class="news-item"><a href="/"></a>2024年4月期 新入生募集中</li>
          <li class="news-item"><a href="/"></a>2024年1月期3ヶ月短期生募集</li>
        </ul>
      </div>
    </div>
    <div class="popup-content">
      <ul class="popup-slide">
        <li class="slide-item-2"></li>
      </ul>
    </div>
  </div>
</div>
