<div class="admission-box">
  <div class="inner">
    <div class="admission-content">
      <div class="admission-top-area">
        <div class="admission-title">入学案内 Admission</div>
        <p class="admission-button">
          <a href="/news" class="admission-btn"
            >MORE
            <i class="xi-plus-min"></i>
          </a>
        </p>
      </div>
      <div class="admission-body-area">
        <ul class="admission-list">
          {% for post in site.categories.admission %}
          <li class="admission-item">
            <a href="{{ post.url }}">
              <p class="title">{{post.title}}</p>
            </a>
            <p class="admission-date">{{ post.date | date: "%Y-%m-%d" }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="popup-content">
      <ul class="popup-slide">
        <li class="slide-item-2"></li>
      </ul>
    </div>
  </div>
</div>
