<div class="student-visa-area">
  <div class="student-visa-top">student Visa Page</div>
  <div class="sub-tit">
    <h3>유학이외의 비자</h3>

    <div class="sub-nav">
      <span><i class="xi-home"></i></span> <i class="xi-angle-right-min"></i>
      <span>입학안내</span> <i class="xi-angle-right-min"></i>
      <span>유학이외의 비자</span>
    </div>
  </div>
  <div class="sub-contents">
    <div id="et_enter02">
      <p class="t_txt">
        워킹홀리데이, 단기체재, 가족체재, 배우자, 영주자, 정주자, 취업 등의
        비자로 생활, 진학, 어학연수 등을 위해 일본어를 공부할 수 있습니다.
      </p>

      <div class="cont_box mt_50">
        <p class="s_tit">신청에서 입학까지</p>
        <p class="s_txt mb_10">
          학교에 오셔서 학비는 낼 경우에는 아래 수속을 한 번에 하실 수
          있습니다.<br />오시기 전에 미리 전화 주십시오.
        </p>
        <div class="enter_diagram no-tit">
          <dl>
            <dt>&nbsp;</dt>
            <dd>
              <ul>
                <li>
                  <p class="icon">
                    <span><i class="xi-user"></i> 출원자</span>
                  </p>
                  <p class="txt">입학문의</p>
                </li>
              </ul>
              <p class="arrow"><i class="xi-angle-down-min"></i></p>
            </dd>
          </dl>
          <dl>
            <dt>&nbsp;</dt>
            <dd>
              <ul>
                <li>
                  <p class="icon">
                    <img src="../../images/sub/enter_futaba.png" alt="futaba" />
                  </p>
                  <p class="txt">비자 확인 / 수속절차 안내</p>
                </li>
              </ul>
              <p class="arrow"><i class="xi-angle-down-min"></i></p>
            </dd>
          </dl>
          <dl>
            <dt>&nbsp;</dt>
            <dd>
              <ul>
                <li>
                  <p class="icon">
                    <span><i class="xi-user"></i> 출원자</span>
                  </p>
                  <p class="txt">원서 / 각종서류 제출</p>
                </li>
              </ul>
              <p class="arrow"><i class="xi-angle-down-min"></i></p>
            </dd>
          </dl>
          <dl>
            <dt>&nbsp;</dt>
            <dd>
              <ul>
                <li>
                  <p class="icon">
                    <img src="../../images/sub/enter_futaba.png" alt="futaba" />
                  </p>
                  <p class="txt">서류 접수 / 청구서 송부</p>
                </li>
              </ul>
              <p class="arrow"><i class="xi-angle-down-min"></i></p>
            </dd>
          </dl>
          <dl>
            <dt>&nbsp;</dt>
            <dd>
              <ul>
                <li>
                  <p class="icon">
                    <span><i class="xi-user"></i> 출원자</span>
                  </p>
                  <p class="txt">학비 납입</p>
                </li>
              </ul>
              <p class="arrow"><i class="xi-angle-down-min"></i></p>
            </dd>
          </dl>
          <dl>
            <dt>&nbsp;</dt>
            <dd>
              <ul>
                <li>
                  <p class="icon">
                    <img src="../../images/sub/enter_futaba.png" alt="futaba" />
                  </p>
                  <p class="txt">납입 확인 / 입학안내</p>
                </li>
              </ul>
              <p class="arrow"><i class="xi-angle-down-min"></i></p>
            </dd>
          </dl>
          <dl>
            <dt>&nbsp;</dt>
            <dd>
              <ul>
                <li>
                  <p class="txt">일본 입국 / 입학</p>
                </li>
              </ul>
            </dd>
          </dl>
        </div>
        <!--enter_diagram-->
      </div>
      <!--cont_box-->

      <div class="cont_box mt_50">
        <p class="s_tit">입학시기</p>
        <div class="ml_20">
          <p class="s_txt">
            히라가나부터 공부하는 초급레벨은 매년 4･7･10･1월 초에 시작합니다.<br />그
            외의 레벨은 수시로 입학이 가능하며 자세한 내용은 학교로 문의하여
            주십시오.
          </p>
        </div>
      </div>
      <!--cont_box-->

      <div class="cont_box mt_50">
        <p class="s_tit">필요서류</p>
        <table class="s_table">
          <caption>
            필요서류표
          </caption>
          <colgroup>
            <col width="25%" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th scope="row" class="green_bg">입학원서</th>
              <td class="left">
                <div class="green_btn inline">
                  <a
                    href="../../images/pdf/Application for admission_FUTABA.pdf"
                    download=""
                    >PDF 다운로드 <i class="xi-download"></i
                  ></a>
                </div>
                <div class="green_btn inline">
                  <a
                    href="../../images/pdf/Application for admission_FUTABA.docx"
                    download=""
                    >Word 다운로드 <i class="xi-download"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row" class="green_bg">재류카드와 여권사본</th>
              <td class="left">※ 단기체재비자 : 여권사본만 제출</td>
            </tr>
            <tr>
              <th scope="row" class="green_bg">사진 1장</th>
              <td class="left">3개월 이내 촬영 (3x4cm)</td>
            </tr>
          </tbody>
        </table>
        <!--s_table-->
      </div>
      <!--cont_box-->

      <div class="y_btn_box mt_30">
        <a href="../../html/enter/enter03.asp#et03-02"
          >학비안내 <i class="xi-angle-right-min"></i
        ></a>
      </div>
    </div>
  </div>
</div>
