<footer id="footer">
  <ul class="footer-list">
    <li class="footer-item first-item"><a href="/">利用条件</a></li>
    <li class="footer-item"><a href="/">個人情報保護方針 </a></li>
    <li class="footer-item"><a href="/">返還規定</a></li>
    <li class="footer-item"><a href="/">サイトマップ</a></li>
    <li class="footer-item"><a href="/">自己点検/日本語能力習得状況等</a></li>
  </ul>
  <div class="footer-txt-box">
    <p>
      <span>〒260-0031 千葉県千葉市中央区新千葉2-12-16 スリー・エイチビル</span>
      <em>|</em>
      <span>2−12−16 Shinchiba, Chuo Ward, Chiba, Chiba-ken, Japan</span>
    </p>
    <p>
      <span>Tel:(＋81)-43-247-9638</span> <em>|</em>
      <span>Fax:(＋81)-43-247-2008</span> <em>|</em>
      <span>Email : info@go3h.com</span>
    </p>
    <p class="copy">
      COPYRIGHT ⓒ 2024 3H Japanes Language School ALL RIGHT RESERVED.
    </p>
  </div>
</footer>
