<footer id="footer">
  <ul class="footer-list">
    <li class="footer-item first-item"><a href="/">利用条件</a></li>
    <li class="footer-item"><a href="/">個人情報保護方針 </a></li>
    <li class="footer-item"><a href="/">返還規定</a></li>
    <li class="footer-item"><a href="/">サイトマップ</a></li>
    <li class="footer-item"><a href="/">自己点検/日本語能力習得状況等</a></li>
  </ul>
  <div class="footer-txt-box">
    <p>
      <span>〒 260-0021 千葉県千葉市中央区新宿2-6-8</span> <em>|</em>
      <span>2-6-8 Shinjuku, Chuo-ku, Chiba-shi, Chiba-ken, Japan</span>
    </p>
    <p>
      <span>TEL : 043-244-9081</span> <em>|</em>
      <span>FAX : 043-244-9332</span> <em>|</em>
      <span>Email : info@futabacollege.com</span>
    </p>
    <p class="copy">
      COPYRIGHT ⓒ 2024 3H Japanes Language School ALL RIGHT RESERVED.
    </p>
  </div>
</footer>
