<div class="information-box">
  <div class="inner">
    <div class="wrapper">
      <div class="information-top">
        <p class="information-title">FUTABA COLLEGE OF FOREIGN LANGUAGES</p>
      </div>
      <ul>
        <li>
          <div class="information-item-icon">
            <span><i class="xi-maker"></i></span>
          </div>
          <div class="information-cont-box">
            〒 260-0021 2-6-8 Shinjuku, Chuo-ku, Chiba-shi, Chiba-ken, Japan
          </div>
        </li>
        <li>
          <div class="information-item-icon">
            <span><i class="xi-mail"></i></span>
          </div>
          <div class="information-cont-box">info@futabacollege.com</div>
        </li>
        <li>
          <div class="information-item-icon">
            <span><i class="xi-call"></i></span>
          </div>
          <div class="information-cont-box">TEL : 043-244-9081</div>
        </li>
        <li>
          <div class="information-item-icon">
            <span><i class="xi-fax"></i></span>
          </div>
          <div class="information-cont-box">FAX : 043-244-9332</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="information-img">
    <img
      src="https://www.futabacollege.com/images/main/bottom-img.jpg"
      alt=""
    />
  </div>
</div>
