<div class="information-box">
  <div class="inner">
    <div class="wrapper">
      <div class="information-top">
        <p class="information-title">3H JAPANESE LANGUAGE SCHOOL</p>
      </div>
      <ul>
        <li>
          <div class="information-item-icon">
            <span><i class="xi-maker"></i></span>
          </div>
          <div class="information-cont-box">
            〒 260-0031 2−12−16 Shinchiba, Chuo Ward, Chiba, Chiba-ken, Japan
          </div>
        </li>
        <li>
          <div class="information-item-icon">
            <span><i class="xi-mail"></i></span>
          </div>
          <div class="information-cont-box">info@go3h.com</div>
        </li>
        <li>
          <div class="information-item-icon">
            <span><i class="xi-call"></i></span>
          </div>
          <div class="information-cont-box">TEL : (＋81)-43-247-9638</div>
        </li>
        <li>
          <div class="information-item-icon">
            <span><i class="xi-fax"></i></span>
          </div>
          <div class="information-cont-box">FAX : (＋81)-43-247-2008</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="information-img">
    <img
      src="https://www.futabacollege.com/images/main/bottom-img.jpg"
      alt=""
    />
  </div>
</div>
