<div class="language-box">
  <nav class="inner">
    <div class="trigger">
      <ul class="top-nav">
        <li class="lang_box">
          <a href="/">
            <div class="img_box">
              <img src="/assets/icons/flag-jap.png" alt="japan" />
            </div>
            <div class="txt_box">日本語</div>
          </a>
        </li>
        <li class="lang_box">
          <a href="/">
            <div class="img_box">
              <img src="/assets/icons/flag-usa.png" alt="usa" />
            </div>
            <div class="txt_box">ENGLISH</div>
          </a>
        </li>
        <li class="lang_box">
          <a href="/">
            <div class="img_box">
              <img src="/assets/icons/flag-chi.png" alt="usa" />
            </div>
            <div class="txt_box">简体中文</div>
          </a>
        </li>
        <li class="lang_box">
          <a href="/">
            <div class="img_box">
              <img src="/assets/icons/flag-kor.png" alt="kor" />
            </div>
            <div class="txt_box">한국어</div>
          </a>
        </li>
        <li class="lang_box">
          <a href="/">
            <div class="img_box">
              <img src="/assets/icons/flag-vie.png" alt="viet" />
            </div>
            <div class="txt_box">Tiếng Việt</div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="mobile-menu-bar">
    <i class="fas fa-bars"></i>
  </div>
</div>
