<div id="sp-menu-bg">
  <div id="sp-menu-close-btn"></div>
</div>
<ul id="sp-menu-wrapper">
  <li class="sp-menu-top">
    <div class="youtube-link">
      <a
        class="youtube-a-link"
        href="https://www.youtube.com/@sdacic8933/streams"
        target="_blank"
      >
        <i class="fab fa-youtube"></i>
        Youtube
      </a>
    </div>
    <div class="offering-link">
      <a class="offering-a-link" href="/offering" target="_blank">
        <i class="fas fa-heart"></i>
        Online Offering
      </a>
    </div>
  </li>
  <li class="sp-gnb-item">
    <a href="/about">
      <span class="sp-gnb-text">学校紹介</span>
      <span class="sp-gnb-arrow"></span>
    </a>
  </li>
  <li class="sp-gnb-item">
    <a href="/course">
      <span class="sp-gnb-text">授業/コース</span>
      <span class="sp-gnb-arrow"></span>
    </a>
  </li>
  <li class="sp-gnb-item">
    <a href="/admission">
      <span class="sp-gnb-text">入学案内</span>
      <span class="sp-gnb-arrow"></span>
    </a>
  </li>
  <li class="sp-gnb-item">
    <a href="/domitory">
      <span class="sp-gnb-text">学生寮</span>
      <span class="sp-gnb-arrow"></span>
    </a>
  </li>
  <li class="sp-gnb-item">
    <a href="/inquiry">
      <span class="sp-gnb-text">お問合せ</span>
      <span class="sp-gnb-arrow"></span>
    </a>
  </li>
</ul>
