---
layout: base
---

<div class="sub-wrapper">
  <div class="sub-top">
    <div class="sub-vis-box">
      <p>
        <img src="" alt="3H学校" />
      </p>
    </div>
  </div>
  <div class="sub">
    <div class="sub-left">
      <h2 class="about-title">
        <span>{{ page.title }}</span>
      </h2>
      {{content}}
    </div>
    <div class="sub-right">
      <div class="sub-right-title">
        <h3>{{ page.title }}</h3>
        <div class="sub-nav">
          <span><i class="xi-home"></i></span>
          <i class="xi-angle-right-min"></i>
          <!-- <span>学校紹介</span> <i class="xi-angle-right-min"></i>
        <span>学校紹介</span> -->
        </div>
      </div>
      <div class="sub-contents">
        <div class="post-wrapper">
          <section class="title-wrap">
            <h2>{{ page.title }}</h2>
            <p>
              {{ page.title }} 件数 : {{ site.categories.admission | size }}
            </p>
          </section>
          {{ sidebar_content }}
        </div>
      </div>
    </div>
  </div>
</div>
