---
layout: base
---

{% assign items = page.category %} {% if items == "about" %} {% assign items
=site.data.variables.about-menus %} {% elsif items == "course" %} {% assign
items= site.data.variables.course-menus %} {% elsif items == "admission" %} {%
assign items= site.data.variables.admission-menus %}{% else %} {% assign items =
0 %} {% endif%}

<div class="sub-wrapper">
  <div class="sub-top">
    <div class="sub-vis-box">
      <p>
        <img src="" alt="3H学校" />
      </p>
    </div>
  </div>
  <div class="sub">
    <div class="sub-left">
      <h2 class="about-title">
        <span>{{page.category_jp}}</span>
      </h2>
      {% if items != 0 %}
      <ul>
        {% for menu in items %}
        <li class="about-list-item">
          <a href="/{{ menu.category }}/{{ menu.url }}">{{ menu.title }}</a
          ><i class="xi-play"></i>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="sub-right">
      <div class="sub-right-title">
        <h3>{{page.title}}</h3>
        <div class="sub-nav">
          <span><i class="xi-home"></i></span>
          <i class="xi-angle-right-min"></i> <span>{{page.category_jp}}</span>
          {% if page.is_lnb == true %}
          <i class="xi-angle-right-min"></i>
          <span>{{page.title}}</span>
          {% endif %}
        </div>
      </div>
      <div class="sub-contents">
        {{content}}

        <!-- course-event page -->
        {% if page.var == "event" %} {%- include course/event.html -%} {% endif
        %}

        <!-- student-visa page -->
        {% if page.var == "student-visa" %} {%- include
        admission/student-visa.html -%} {% endif %}

        <!-- etc-visa page -->
        {% if page.var == "etc-visa" %} {%- include admission/etc-visa.html -%}
        {% endif %}

        <!-- admission-news page -->
        {% if page.var == "admission-news" %} {%- include
        admission/admission-news.html -%} {% endif %}

        <!-- access page -->
        {% if page.var == "access" %} {%- include access.html -%} {% endif %}
      </div>
    </div>
  </div>
</div>
